@import 'styles/variables';
@import 'styles/partials/media';

.home {
    text-align: center;
    padding-top: 1rem;

    &-emoji,
    &-message {
        color: rgba(0, 0, 0, 0.25);
    }

    &-emoji {
        font-size: 70px;

        @include media('>=sm') {
            font-size: 150px;
        }
    }

    &-message {
        margin-top: 2.5rem;
        font-size: $font-size-lg;
    }
}