// Colors
$primary: #3F51B5;
$accent: #E91E63;
$warn: #F44336;

$dark-gray: #888;
$gray: #CCC;
$light-gray: #F5F5F5;


// Typography
$font-size-base: 16px;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;
$font-size-xl: $font-size-base * 1.5;
